body {
  font-family: "Encode Sans", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

/* Header */
header .navbar {
  background-color: #ffffff;
  box-shadow: 0rem 0.125rem 0.375rem #00000029;
}

header h1 {
  color: #333;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

header .menu {
  color: #37bbed;
  font-weight: 700;
  font-size: 1.25rem;
  background: #fff;
  border: none;
  border-radius: 2rem;
  box-shadow: 0rem 0.125rem 0.375rem #00000029;
  padding: 0.5rem 1.8rem;
}

header button span {
  color: #333;
}

header .menu:hover {
  color: #fff;
  background-color: #37bbed !important;
}

header .menu:active {
  background-color: #fff;
  color: #37bbed;
}

header .menu:focus {
  background-color: #fff;
  color: #37bbed;
  box-shadow: 0rem 0.125rem 0.375rem #00000029 !important;
}

header .menu:focus:hover {
  color: #fff;
  background-color: #37bbed;
  box-shadow: 0rem 0.125rem 0.375rem #00000029 !important;
}

/*menu*/

.offcanvas-body a {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  display: block;
  transition: 0.3s;
  border-bottom: solid 0.15rem #cccccc;
  font-weight: 500;
}

.offcanvas-body i {
  margin-right: 0.5rem;
}

.offcanvas-body .container {
  max-width: 93%;
}

.offcanvas-body a:hover {
  background-color: #37bbed;
  color: #fff;
  border-bottom: solid 0.15rem #37bbed;
}

.offcanvas-header {
  border-bottom: solid 0.15rem #37bbed;
  margin: 0 1rem;
}

.offcanvas-header h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
}

/*sub menu*/
.sub-menu .navbar {
  margin-top: 5.375rem;
  box-shadow: none;
  background-color: #f2f2f2;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

#notification_count {
  padding: 0.1rem 0.4rem;
  background: #ed3d8f;
  color: #ffffff;
  font-weight: bold;
  margin-left: -1rem;
  border-radius: 100%;
  position: absolute;
  font-size: 0.6rem;
}

.text-wrap {
  white-space: normal !important;
}

/*seccion bienvenida y login*/

.bienvenido-login {
  background-image: url("../img/bg_bienvenido.png");
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.bienvenido-login .row {
  align-items: center;
}

.bienvenido {
  margin-right: 5rem;
}
.bienvenido h1 {
  font-size: 3.125rem;
  font-weight: 700;
  color: #333;
}

.bienvenido h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 2.3rem;
  letter-spacing: 0.02rem;
}

.bienvenido i {
  font-size: 4rem;
}

.login {
  background-color: #f2f2f2;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
  border-radius: 0.938rem;
  padding: 2rem;
}

/*login usuario SGO*/

.select-login {
  background-color: #fff;
  border-radius: 2rem;
}

.select-login button:focus {
  box-shadow: none;
}
.selec-boton {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #37bbed;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
}

.selec-boton:hover {
  color: #fff;
}

.no-selec-boton {
  font-size: 1.2rem;
  font-weight: 600;
  color: #cccccc;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
  float: right;
}

.no-selec-boton:hover {
  border: solid 0.15rem #37bbed;
  color: #37bbed;
}

.login-usuario-sgo {
  margin-top: 1.5rem;
}

.login-usuario-sgo label {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.login-usuario-sgo input {
  border-radius: 2rem;
  border: solid #37bbed;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.ingresar {
  color: #fff;
  background-color: #ed3d8f;
  border: solid #ed3d8f;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  margin-top: 1rem;
}

.ingresar:hover {
  color: #ed3d8f;
  background-color: #fff;
  border: solid #ed3d8f;
}

.registrar {
  color: #fff;
  background-color: #37bbed;
  border: solid #37bbed;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
}

.registrar:hover {
  color: #37bbed;
  background-color: #fff;
  border: solid #37bbed;
}

/*login otras opciones*/

.entidades {
  margin-top: 1.5rem;
  text-align: center;
}

.no-selec-boton-entidades {
  font-size: 1.2rem;
  font-weight: 600;
  color: #cccccc;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
}

.no-selec-boton-entidades:hover {
  border: solid 0.15rem #37bbed;
  color: #37bbed;
}

.selec-boton-entidades {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background-color: #37bbed;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
  float: right;
}

.selec-boton-entidades:hover {
  color: #fff;
}
.entidades ul {
  margin-bottom: 2rem;
  padding-left: 0;
}

.entidades li {
  list-style: none;
  margin: 1rem 0;
}

.ingresar-entidades {
  background-color: #fff;
  color: #37bbed;
  font-weight: 700;
  font-size: 1.2rem;
  border: solid #37bbed;
  border-radius: 2rem;
  margin-left: 1.5rem;
}

.ingresar-entidades:hover {
  background-color: #37bbed;
  color: #fff;
  border: solid #37bbed;
}

/*main*/

/*card gestores*/
.card-gestores {
  margin: 7rem 0 5rem 0;
}

.tarjeta {
  margin-bottom: 2rem;
}

.gestores {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.gestores a {
  text-decoration: none;
}

.card {
  border-radius: 0.625rem;
  border: none;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
}

.acceso a {
  text-decoration: none;
  color: #333;
}
.acceso i {
  font-size: 5rem;
  text-align: center;
  color: white;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  padding: 1rem 0;
  line-height: 0;
}

.acceso h5 {
  font-weight: 700;
  font-size: 1.25rem;
}

.acceso p {
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
}

.ar-gestores {
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 0.625rem 0.625rem;
}

.ar-gestores h5 {
  margin-top: 0.3rem;
}

.ar-gestores ul {
  margin: 1rem 0 0 0 !important;
}

.ar-gestores span {
  color: #fff;
  margin-right: 0.3rem;
}

.dropdown-menu {
  background-color: #f2f2f2;
  border: none;
  box-shadow: 0rem 0.125rem 0.375rem #00000029;
  width: 100%;
  position: absolute;
}

.dropdown-item {
  color: #333;
  font-weight: 600;
  padding: 0.8rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #333;
  background-color: #d5d9dd;
}
#navbarNavDarkDropdown .dropdown-menu {
  min-width: 25rem;
}

.notificacion {
  border-bottom: solid #37bbed 0.15rem;
}

.notificacion img {
  margin-right: 1rem;
}

.acceso-1 i {
  background-color: #37bbed;
  border: solid #37bbed;
}

.acceso-1 p {
  color: #37bbed;
}

.acceso-1 i:hover {
  background-color: #fff;
  border: solid #37bbed;
  color: #37bbed;
}

.ar-1 button:hover {
  background-color: #37bbed;
  color: #fff;
}

.ar-1 button:focus {
  background-color: #37bbed;
  color: #fff;
}

.ar-1 .dropdown-item {
  border-bottom: solid 0.15rem #37bbed;
}

.acceso-2 i {
  background-color: #9284be;
  border: solid #9284be;
}

.acceso-2 p {
  color: #9284be;
}

.acceso-2 i:hover {
  background-color: #fff;
  border: solid #9284be;
  color: #9284be;
}

.ar-2 button:hover {
  background-color: #9284be;
  color: #fff;
}

.ar-2 button:focus {
  background-color: #9284be;
  color: #fff;
}

.ar-2 .dropdown-item {
  border-bottom: solid 0.15rem #9284be;
}

.acceso-3 i {
  background-color: #50b7b2;
  border: solid #50b7b2;
}

.acceso-3 p {
  color: #50b7b2;
}

.acceso-3 i:hover {
  background-color: #fff;
  border: solid #50b7b2;
  color: #50b7b2;
}

.ar-3 button:hover {
  background-color: #50b7b2;
  color: #fff;
}

.ar-3 button:focus {
  background-color: #50b7b2;
  color: #fff;
}

.ar-3 .dropdown-item {
  border-bottom: solid 0.15rem #50b7b2;
}

.acceso-4 i {
  background-color: #ed3d8f;
  border: solid #ed3d8f;
}

.acceso-4 p {
  color: #ed3d8f;
}

.acceso-4 i:hover {
  background-color: #fff;
  border: solid #ed3d8f;
  color: #ed3d8f;
}

.ar-4 button:hover {
  background-color: #ed3d8f;
  color: #fff;
}

.ar-4 button:focus {
  background-color: #ed3d8f;
  color: #fff;
}

.ar-4 .dropdown-item {
  border-bottom: solid 0.15rem #ed3d8f;
}

.quiero {
  background-color: #f2f2f2;
  padding: 1.5rem;
}
.quiero h4 {
  color: #37bbed;
  font-weight: 700;
  margin-bottom: 1rem;
}

.quiero ul {
  margin: 0;
  padding: 0;
}

.quiero a {
  color: #333;
  font-weight: 600;
  padding-bottom: 1rem;
}

.quiero li {
  list-style: none;
  border-bottom: solid #37bbed;
  padding: 0.8rem;
}

.quiero li:hover,
.quiero a:hover {
  background-color: #37bbed;
  color: #fff;
}

/*Utilidades*/

.utilidades {
  background-color: #f2f2f2;
  padding: 5rem;
}

.iconos {
  text-align: center;
  margin-top: 3rem;
  align-items: center;
}

.utilidades a {
  text-decoration: none;
}

.utilidades i {
  color: #37bbed;
  font-size: 5rem;
}

.utilidades i:hover {
  color: #0072bb;
}

.utilidades h6 {
  color: #333;
  font-weight: 600;
  margin-top: 1rem;
}

/*Registro*/

/* primer paso registro*/

.solicitar {
  margin-right: 5rem;
}

.solicitar h2 {
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}

.solicitar h5 {
  line-height: 1.9rem;
  color: #333;
  margin-bottom: 4rem;
}

/*paso a paso*/

.paso-a-paso {
  align-items: flex-start !important;
}

.paso-a-paso p {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
}

.paso-a-paso li {
  list-style: none;
}

.linea {
  border-left: 0.3rem solid #37bbed;
  height: 3rem;
}

.linea-circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paso {
  color: #fff;
  background-color: #37bbed;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linea-4 {
  height: 4.1rem !important;
}

/*primer paso*/

.primer-paso {
  background-color: #f2f2f2;
  padding: 3rem 0;
}

.titulo {
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 3rem;
}

.titulo h4 {
  font-weight: 700;
  color: #333;
}
.primer-paso ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.primer-paso li {
  list-style: none;
}

.primer-paso button {
  margin: 1rem 0 2rem 0 !important;
  width: 13rem;
}

.paso-entidades {
  align-items: flex-end;
}

/*segundo paso : formularios*/
.formularios {
  justify-content: space-between;
  align-items: flex-start !important;
}

.datos {
  background-color: #f2f2f2;
  box-shadow: 0rem 0.125rem 0.375rem #00000029;
  border-radius: 0.938rem;
  padding: 1rem 2rem;
}
.datos input {
  margin-bottom: 1rem;
}

.titulo-form {
  display: flex;
  color: #37bbed;
  align-items: center;
}

.titulo-form i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.titulo-form h5 {
  font-weight: 600;
}

.mb-3 {
  margin: 1rem 0;
}

.form-control:disabled {
  border: solid #ffffff;
  background-color: #fff;
}

.form-control,
.form-select {
  color: #333;
  font-weight: 500;
  border-radius: 3rem;
  border: solid #37bbed;
}
.form-label {
  font-size: 0.938rem;
  font-weight: 600;
  color: #333;
}

.laborales {
  justify-content: space-between;
  margin: 1rem 0;
  align-items: flex-start !important;
  column-gap: 0;
}

.is-invalid {
  margin-bottom: 0 !important;
}
.invalid-feedback {
  margin-bottom: 1rem;
}
.info {
  color: #ed3d8f;
  font-size: 1.1rem;
}

option {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

.datos select {
  margin-bottom: 1rem;
}

.declaracion-jurada label {
  font-weight: 700;
  color: #333;
}

.declaracion-jurada p {
  color: #333;
  font-size: 0.8rem;
}

/*modal*/
.modal-header {
  padding: 1rem 2rem;
  color: #37bbed;
  font-weight: 600;
}

.modal-body {
  padding: 1rem 2rem 2rem 2rem;
}

.importante i {
  color: #37bbed;
  font-size: 3rem;
}

.importante h3 {
  color: #37bbed;
  font-size: 1.6rem;
}

.importante p {
  margin: 0;
}

/* home gestores*/
.grey {
  background-color: #fbfbfb;
}

.menu-gestor {
  background-color: #fff;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
  text-align: center;
  width: 4.5rem;
  position: fixed;
  z-index: 1;
}

.menu-gestor .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #37bbed;
  border-radius: 0 !important;
}

.menu-gestor .nav-link {
  border-radius: 0 !important;
}

.menu-gestor .border-bottom {
  border-bottom: 0.15rem solid #d5d9dd !important;
}

.menu-gestor i {
  color: #333;
  font-size: 1.25rem;
}

.menu-gestor li:hover {
  background-color: #37bbed;
  color: #fff;
}

.menu-gestor .active i {
  color: #fff;
}

.menu-gestor .p-3,
.menu-gestor .py-3 {
  padding: 0.6rem !important;
}

.icono-desplegar {
  margin-left: 0.5rem;
}

.desplegar i {
  color: #37bbed;
  padding: 1rem 0;
}

.desplegar i:hover {
  color: #ed3d8f;
}

.acceso-gestor {
  justify-content: space-between;
}

.acceso-gestor a {
  text-decoration: none;
}

.acceso-gestor button {
  text-align: center;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
}

.acceso-gestor-1 button {
  background-color: #37bbed;
  border: 0.25rem solid #37bbed;
}

.acceso-gestor-1 button:hover {
  background-color: #ffffff;
  border: 0.25rem solid #37bbed;
  color: #37bbed;
}

.acceso-gestor-2 button {
  background-color: #50b7b2;
}

.acceso-gestor-2 button:hover {
  background-color: #ffffff;
  border: 0.25rem solid #50b7b2;
  color: #50b7b2;
}

.acceso-gestor-3 button {
  background-color: #9284be;
}

.acceso-gestor-3 button:hover {
  background-color: #ffffff;
  border: 0.25rem solid #9284be;
  color: #9284be;
}

/*Notificaciones home*/

.listado-notificaciones {
  margin: 3rem 0;
}

.tabla-notificacion {
  padding: 0 1rem;
  height: 22rem;
}

.home-gestores h5 {
  margin: 2rem 0;
}
.cerrar-notificacion {
  border-left: 0.1rem solid #37bbed;
  border-radius: 0;
}

.notificaciones {
  border-bottom: 0.01rem solid #c0c0c0;
}

.notificaciones td {
  padding: 1rem;
}

.header-notificacion {
  font-weight: 700;
}

.cuerpo-notificacion p {
  margin-bottom: 0.5rem !important;
}

.cuerpo-notificacion a {
  text-decoration: none;
  font-weight: 600;
  color: #37bbed;
}

.cuerpo-notificacion a:hover {
  color: #ed3d8f;
}

/* menu gestor desplegado*/

.fondo-translucido {
  background-color: rgba(51, 51, 51, 0.165);
}

.menu-gestor-desplegado {
  background-color: #fff;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
  z-index: 1;
  position: fixed;
}

.menu-gestor-desplegado .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #37bbed;
  border-radius: 0 !important;
  text-align: left !important;
}
.menu-gestor-desplegado span {
  color: #333;
  font-weight: 600;
  margin-left: 0.5rem;
}
.menu-gestor-desplegado .nav-link {
  border-radius: 0 !important;
}

.menu-gestor-desplegado .border-bottom {
  border-bottom: 0.15rem solid #d5d9dd !important;
}

.menu-gestor-desplegado i {
  color: #333;
  font-size: 1.25rem;
}

.menu-gestor-desplegado li:hover {
  background-color: #37bbed;
  color: #fff;
}

.menu-gestor-desplegado .active i {
  color: #fff;
}

.menu-gestor-desplegado .p-3,
.menu-gestor-desplegado .py-3 {
  padding: 0.6rem !important;
  text-align: left !important;
}

.contraer span,
.contraer i {
  color: #37bbed;
}

.contraer span:hover,
.contraer i:hover {
  color: #ed3d8f;
}

.contraer {
  text-align: right;
}
/*Menu responsive*/
.menu-responsive {
  display: none;
}

.menu-responsive .btn {
  color: #fff;
  background-color: #ed3d8f;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin: 2rem 0;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
}

.menu-responsive a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Footer */

.main-footer {
  background-color: #f3faff;
}

.main-footer section {
  padding: 1.875rem 1rem 1.875rem 0;
}

.main-footer row {
  flex-wrap: nowrap;
}

.main-footer .nav {
  flex-direction: column;
}

.main-footer h3 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #333;
}

.main-footer a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 0.938rem;
}

.main-footer a:hover {
  color: #37bbed;
}

.leaf {
  margin: 0.3rem 0;
}

.first {
  margin-top: 1.5rem;
}

.region-footer3 {
  font-weight: 500;
  color: #333;
  font-size: 0.938rem;
}

.sub-footer {
  background-color: #37bbed;
  padding: 1.25rem 0 2.5rem 0;
}

.sub-footer img {
  margin-bottom: 20px;
  max-width: 300px;
  display: block;
}

/*responsive*/
@media screen and (max-width: 990px) {
  .navbar-brand h1 {
    display: none;
  }
  .bienvenido-login h2 {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 860px) {
  .menu-gestor {
    display: none !important;
  }
  .menu-responsive {
    display: block !important;
  }
  .home-gestores {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .home-gestores {
    margin: 0 auto;
    width: 90%;
  }
  .menu-gestor {
    width: 100%;
  }

  .acceso-gestor .btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 85%;
  }
}

@media screen and (max-width: 415px) {
  .opciones {
    display: none;
  }
}

@media screen and (max-width: 378px) {
  .menu-sgo span {
    display: none;
  }
}

@media screen and (max-width: 344px) {
  .opciones {
    display: inline-block;
  }
  .bienvenido h1 {
    font-size: 2.5rem;
  }
  .navbar-brand img {
    width: 80%;
  }
}
